
body {
    background-image: url(../Images/bg.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
}

header {
    padding: 20px;
    background-color: black;
}

header h1 {
    color: white;
    text-align: center;
}

main {
    width: 500px;
    height: 500px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}